<mat-toolbar>
  <span>Checkout</span>
</mat-toolbar>
<div class="row items-center content-center">
  <div class="column w-100 p-16">
    <ng-container *ngIf="loading$ | async; else elseTemplate">
      <div class="loading-container column items-center content-center">
        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div *ngIf="checkoutProductList$ | async as productList">
        <ng-container *ngIf="productList.length && (loaded$ | async); else elseTemplate">
          <mat-table [dataSource]="productList">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Book name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="author">
              <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.author }} </mat-cell>
            </ng-container>

            <!-- genre Column -->
            <ng-container matColumnDef="genre">
              <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="column">
                  <span *ngFor="let item of element.genre">
                    {{ item }}
                  </span>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="language">
              <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.language }} </mat-cell>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.quantity }}
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="py-16" *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <div class="p-16 mt-16 row items-center content-center">
            <div class="mr-16">
              <button mat-flat-button color="primary" (click)="checkout()">
                <ng-container *ngIf="saveLoading$ | async; else elseTemplate">
                  <mat-progress-spinner
                    diameter="24"
                    mode="indeterminate"
                    color="primary"
                  ></mat-progress-spinner>
                </ng-container>
                <ng-template #elseTemplate> </ng-template>

                Checkout
              </button>
            </div>

            <button  *ngIf="!(saveLoading$ | async)" mat-stroked-button (click)="abandon()">Abandon purchase</button>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div class="w-100 column items-center content-center">
            <p class="">Your cart is empty!</p>
            <p>Please, add products to cart.</p>
            <a
              class="mt-16"
              color="primary"
              [routerLink]="['../sell']"
              routerLinkActive="router-link-active"
              mat-button
              >Add products</a
            >
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>
