:host {
  .menu-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .items-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .w-100 {
    width: 100%;
  }
  .pl-8 {
    padding-left: 8px;
  }
  .pr-8 {
    padding-right: 8px;
  }

  .px-8 {
    padding: 0 8px 0 8px;
  }
  .py-8 {
    padding: 8px 0 8px 0;
  }

  .pl-16 {
    padding-left: 16px;
  }
  .pr-16 {
    padding-right: 16px;
  }
  .px-16 {
    padding: 0 16px 0 16px;
  }
  .py-16 {
    padding: 16px 0 16px 0;
  }

  .ml-8 {
    padding-left: 8px;
  }
  .mr-8 {
    margin-right: 8px;
  }
  .my-16 {
    margin: 16px 0 16px 0;
  }
  .mx-16 {
    margin: 0 16px 0 16px;
  }
}
